<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Adm_proyectos.approyecto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APproyecto"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VISTA.Chat2.MainActivity"
            android:exported="true" />
        <activity
            android:name=".VISTA.CHAT.Chat"
            android:exported="true"
            android:theme="@style/Theme.APproyecto.NoActionBar" />
        <activity
            android:name=".VISTA.ESTUDIANTE.estudiantesPrincipal"
            android:exported="true"
            android:theme="@style/Theme.APproyecto.NoActionBar" />
        <activity
            android:name=".VISTA.DOCENTE.DocentePrincipal"
            android:exported="true"
            android:theme="@style/Theme.APproyecto.NoActionBar" />
        <activity
            android:name=".VISTA.ADMIN.ADMIN.adminPricipal"
            android:exported="true"
            android:theme="@style/Theme.APproyecto.NoActionBar" />
        <activity
            android:name=".VISTA.log_in"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.APproyecto.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>